/*Demonstrates how to use Class and ID selectors*/
#list {
    background-color: blue;
}

.data {
    font-style: italic;
}

p.other{
    background-color: white;
}

/*Demonstrates how to simplify code by grouping and nesting*/
/*This is a group. Everything inside of the curly braces will be applied to all selectors.*/
.data, p.other {
    color: red;
    font-weight: bold;
}

/*Nesting removes the need for excessive amounts of classes and IDs by saying apply this to the p tags inside of the list.*/
#groupnest p{
    font-weight: bolder;
    text-decoration: underline;
}

#groupnest dd {
    color: blue;
}

/*Demonstrates how to use a Psuedo Class for Links*/
a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:active {
    color: red;
}

a:hover {
    text-decoration: none;
    background-color: yellow;
}

a:focus {
    background-color: green;
}

/*First-child class example*/
li:first-child {
    font-weight: bold;
    color: aqua;
}

/*Demonstrates the shorthanded version of margin and padding*/
#shorthand {
    margin: 1px 5px 10px 20px;
    padding: 1em 10em;
}

/*Demonstrates the shorthanded version of borders and fonts*/
#borderfont {
    border: 1px red solid;
    font: italic bold 1em "courier";
}

/*Demonstrates how to use the background shorthand property*/
body {
    background: white url(http://www.htmldog.com/images/bg.gif) no-repeat top right;
}

/*Demonstrates certain specificity aspects*/
#specific {
    color: red;
}

#specific {
    color: blue;
}

/*Demonstrates the use of the display property*/
#inline {
    display: inline;
}

#block {
    display: block;
}

#none {
    display: none;
}

/*Demonstrates use of Pseudo Elements
  Form:
    selector::pseudoelement { property: value; }

    *add a second colon in order to differentiate a pseudo element from a pseudo class
*/
p::first-letter {
    font-size: 24px;
    float: left;
}

p::first-line {
    font-weight: bold;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

dd::before {
    content: "POW!";
    background: red;
    color: blue;
}

p::before {
    content: url(image);
}