/* HTML selectors are names of HTML tags and are used to change the style of a specific type of element*/
/* General Units: px - pixels, em - calculated size of a font, pt - points, % - percentages
   Also: pc - picas, cm - centimeters, mm - milimeters, in - inches*/

body {
    font-size: 14px;
    color: purple;
}

h1 {
    color: yellow;
    background-color: blue;
}

h2 {
    color: rgb(243, 243, 166);
    background-color: #009;
}

p {
    color: red;
}

a {
    color: blue;
}